section.contact-page {
  background: none;
  padding-top: 50px;
  .contact-form-container {
    width: 100%;
    max-width: 865px;
    margin: 0 auto;
    input,
    textarea {
      background: none;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
    .submit {
      transition: all 1s;
      &:hover {
        background: $accent-color;
        border: 2px solid $accent-color;
        color: $third-color;
      }
    }
  }

}