.outreach-page {
	margin-top: 50px;
	margin-bottom: 70px;
	.flex-container {
		flex-wrap: wrap;
	}
	article {
		justify-content: space-between;
		margin-bottom: 50px;
		align-items: flex-start;
		p {
			margin-bottom: 0;
		}
	}
	.left {
		width: 45%;
		order: 1;
	}
	.right {
		width: 50%;
	}

	.page-icon {
		width: 63px;
	}
}

@media(max-width: 980px) {
	.outreach-page {
		.left {
			order: 0;
			width: 100%;
		}

		.right {
			width: 100%;
			margin-top: 20px;
		}
	}
}