.publications-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 70px;
	article {
		width: calc(33.3% - 15px);
	}

	figure {
		position: relative;
		&:hover {
			p {
				bottom: 10px;
			}
		}
	}

	img {
		display: block;
		width: 100%;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		background: transparentize($primary-color, 0.5);
		p {
			position: relative;
			bottom: 0;
			margin: auto;
			color: white;
			text-transform: uppercase;
			padding: 15px 5px;
			text-align: center;
			width: 75%;
			border-top: 2px solid $third-color;
			border-bottom: 2px solid $third-color;
			transition: bottom 0.5s;
		}
	}

	.article-info {
		margin: 10px 0 30px;
		p {
			margin: 0;
		}
		a {
			color: $primary-color;
		}
	}
}

@media(max-width: 880px) {
	.publications-page {
		article {
			width: calc(50% - 15px);
		}
	}
}

@media(max-width: 600px) {
	.publications-page {
		article {
			width: 100%;
		}
	}
}