a {
	color: #BE202E;
	text-decoration: none;
	&:hover {
		color: #BE202E;
	}
}

/* paragraphs */

p {
	line-height: 1.6;
	font-weight: 400;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}

/*
====================================
Typography & Global Button styles
====================================
*/
html {
	font-size: 62.5%;
}

body {
	font-family: $primary-font;
	color: $primary-color;
	font-size: 1.6rem;
}

h1 {
	font-family: $secondary-font;
	font-size: 5rem;
	font-weight: 500;
	letter-spacing: 3px;
	margin: 20px 0;
	position: relative;
}

h1:after {
	content:"";
	height: 3px;
	width: 60px;
	background: $accent-color; 
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translate(-50%, 0);
}

h2 {
	font-family: $primary-font;
	font-size: 3rem;
	position: relative;
	margin-bottom: 30px;
	margin-top: 0;
	font-weight: 400;
	letter-spacing: 3px;
	&:after {
		content:"";
		height: 3px;
		width: 60px;
		background: $accent-color; 
		position: absolute;
		left: 0;
		top: 100%;
		margin: 12px 0;
	}
}

h1,
h2,
.btn {
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	border: 3px solid $primary-color;
	color: $primary-color;
	padding: 5px 15px;
	transition: background 0.25s, color 0.25s;
	&:hover {
		background: $primary-color;
		color: $third-color;
	}
}

.btn-light {
	border: 3px solid $third-color;
	color: $third-color;
	&:hover {
		background: $third-color;
		color: $primary-color;
	}
}


.btn-accent {
	border: 3px solid $accent-color;
	color: $accent-color;
	&:hover {
		background: $accent-color;
	}
}