/*
====================================
Variables
====================================
*/

$primary-font: 'Karla', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$primary-color: #282727;
$secondary-color: #D1D3D4;
$third-color: #FFF;
$accent-color: #BE202E;